@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Common Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    border: none;
    margin: 20px 25px;
    cursor: pointer;

}

/* Header part styled */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {

    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.right-nav {
    display: flex;
    list-style: none;

    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    margin-right: 30px;
}

.right-nav a {
    text-decoration: none;
    color: #424242;
}

.right-nav li {
    margin-left: 30px;
}

/* Banner styles added */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
}

.banner-description {
    color: #727272;
}

.banner img {
    width: 100%;
}

/* Responsive media query */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;

    }
}

@media screen and (min-width:576px) and (max-width:976px) {
    nav {
        flex-direction: column;
    }
}